<% provide(:page_title,'Edit') %>

<h1>Editing Project</h1>

<%= render 'form', project: @project, url: students_project_url(@project) %>

<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>
